@import "../styles/util.scss";

.TodoCreate {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    flex-direction: column;
    background: white;

    input,
    button {
      outline: none;
      border: none;
    }

    div {
      padding: 2rem;

      input {
        border-bottom: 1px solid $green;
        padding: 0.5rem;
        width: 300px;
        color: #7b7e84;
        font-size: 1rem;
      }
    }
  }

  button {
    padding: 1rem 3rem;
    background: $green;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}
