$fontColor: #7b7e84;

.App {
  color: $fontColor;
  font-weight: bold;
  background: white;
  border: 3px solid #eaeae6;
  padding: 3rem 0;
  height: 70vh;
  // width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.App-logo {
  //height: 40vmin;
  width: 100px;
  pointer-events: none;
}

.logo {
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
